<%= form_for(@physician) do |f| %>
  <% if @physician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@physician.errors.count, "error") %> prohibited this physician from being saved:</h2>

      <ul>
      <% @physician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :physicianname %><br>
    <%= f.text_field :physicianname %>
  </div>
  <div class="field">
    <%= f.label :physicianaddress %><br>
    <%= f.text_field :physicianaddress %>
  </div>
  <div class="field">
    <%= f.label :physicianphone %><br>
    <%= f.text_field :physicianphone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
