<h1>Listing All Physicians</h1>

<table>
  <thead>
    <tr>
      <th>Physician Name</th>
      <th>Physician Address</th>
      <th>Physician Phone</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @physicians.each do |physician| %>
      <tr>
        <td><%= physician.physicianname %></td>
        <td><%= physician.physicianaddress %></td>
        <td><%= physician.physicianphone %></td>
        <td><%= link_to 'Show', physician %></td>
        <td><%= link_to 'Edit', edit_physician_path(physician) %></td>
        <td><%= link_to 'Destroy', physician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
