<p id="notice"><%= notice %></p>

<p>
  <strong>Physician Name:</strong>
  <%= @physician.physicianname %>
</p>

<p>
  <strong>Physician Address:</strong>
  <%= @physician.physicianaddress %>
</p>

<p>
  <strong>Physician Phone:</strong>
  <%= @physician.physicianphone %>
</p>

<p>
  <strong> Patient:</strong>
  <% @physician.patients.each do |x| %>
         <%= x.patientname %>
  <% end %>
</p>

<p>
  <strong> Pending Appointments:</strong>
  <% @physician.appointments.each do |date| %>

      <% if date.date >= Time.now %>
             <%=  date.date.strftime("%m/%d/%Y") %>
      <% elsif date.date < Time.now %>
             <%= 'No Current Appointments' %>
      <% end %>
  <% end %>
</p>


<p>
  <strong>  Appointment Date:</strong>
  <% Time.now  %>
  <% @physician.appointments.each do |date| %>
        <%= date.date.strftime("%m/%d/%Y") %>
  <% end %>
</p>

<p>
  <strong> Days until Appointment:</strong>
  <% Time.now  %>
  <% @physician.appointments.each do |d| %>
      <% d =  d.date.to_date - Time.now.to_date  %>
      <% if d >= 0 %>
            <%= d.to_i  %> Days
      <% elsif d < 0 %>
               <%= '0 Days' %>
      <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
