<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :patientname %><br>
      <%= f.text_field :patientname  %>
    </div>
    <div class="field">
      <%= f.label :patientaddress %><br>
      <%= f.text_field :patientaddress %>
    </div>
    <div class="field">
      <%= f.label :patientphone %><br>
      <%= f.text_field :patientphone %>
    </div>


  <div class="actions">
    <%= f.submit class: "button radius"%>
  </div>
<% end %>
