<h1>Listing All Patients</h1>

<table>
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Patient Address</th>
      <th>Patient Phone</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.patientname %></td>
        <td><%= patient.patientaddress %></td>
        <td><%= patient.patientphone %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>
