<p id="notice"><%= notice %></p>

<p>
  <strong>Patient Name:</strong>
  <%= @patient.patientname %>
</p>

<p>
  <strong>Patient Address:</strong>
  <%= @patient.patientaddress %>
</p>

<p>
  <strong>Patient Phone:</strong>
  <%= @patient.patientphone %>
</p>

<p>
  <strong> Physician:</strong>
  <% @patient.physicians.each do |p| %>
   <%= p.physicianname %>
  <% end %>
</p>
<p>
  <strong> Appointment Date:</strong>
  <% @patient.appointments.each do |date| %>
    <%= date.date %>
  <% end %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
