<h1>Listing All Appointments</h1>

<table class="border">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Physician</th>
      <th>Date</th>
      <th>Reason</th>
      <th>Notes</th>
      <th>Diagnostic Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient.patientname %></td>
        <td><%= appointment.physician.physicianname %></td>
        <td><%= appointment.date.strftime('%c') %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.notes %></td>
        <td><%= appointment.diagnostic_id %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
